In [4]:
import pandas as pd
import numpy as np

# Series

In [3]:
obj = pd.Series([4, 7, -5, 3])
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
sales = pd.Series([100, 200, 100, 400])
print(sales.values)
print(sales.index)

[100 200 100 400]
RangeIndex(start=0, stop=4, step=1)

In [5]:
sales = pd.Series([100, 200, 100, 400], index = ['Jan', 'Feb', 'Mar', 'Apr'])
print(sales)

Jan    100
Feb    200
Mar    100
Apr    400
dtype: int64

In [6]:
print(sales.index)
print(sales.values)
print(sales['Jan'])

Index(['Jan', 'Feb', 'Mar', 'Apr'], dtype='object')
[100 200 100 400]
100

In [7]:
sales = pd.Series([100, 200, 100, 400], index = ['Jan', 'Feb', 'Mar', 'Apr'], name = "4 month sales" )
print(sales)

Jan    100
Feb    200
Mar    100
Apr    400
Name: 4 month sales, dtype: int64

In [8]:
sw = pd.Series([30, 40, 20, 50, 45, 35, 40], 
                            index=['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun'], 
                            name = "Sandwitches sale whole week")
print(sw)

Mon     30
Tue     40
Wed     20
Thur    50
Fri     45
Sat     35
Sun     40
Name: Sandwitches sale whole week, dtype: int64

In [9]:
print(sw[3])
print("--------------------")
print(sw[[3, 5]])
print("--------------------")
print(sw[3:5])
print("--------------------")
print(sw[['Wed','Thur']])

50
--------------------
Thur    50
Sat     35
Name: Sandwitches sale whole week, dtype: int64
--------------------
Thur    50
Fri     45
Name: Sandwitches sale whole week, dtype: int64
--------------------
Wed     20
Thur    50
Name: Sandwitches sale whole week, dtype: int64

In [10]:
print(sw[sw<20])

Series([], Name: Sandwitches sale whole week, dtype: int64)

In [11]:
print(sw[sw <= 40])

Mon    30
Tue    40
Wed    20
Sat    35
Sun    40
Name: Sandwitches sale whole week, dtype: int64

In [12]:
sw * 2

Mon      60
Tue      80
Wed      40
Thur    100
Fri      90
Sat      70
Sun      80
Name: Sandwitches sale whole week, dtype: int64

In [13]:
print(sw)

Mon     30
Tue     40
Wed     20
Thur    50
Fri     45
Sat     35
Sun     40
Name: Sandwitches sale whole week, dtype: int64

In [14]:
sw = sw * 2
print(sw)

Mon      60
Tue      80
Wed      40
Thur    100
Fri      90
Sat      70
Sun      80
Name: Sandwitches sale whole week, dtype: int64

In [15]:
sw = sw / 2
print(sw)

Mon     30.0
Tue     40.0
Wed     20.0
Thur    50.0
Fri     45.0
Sat     35.0
Sun     40.0
Name: Sandwitches sale whole week, dtype: float64

In [16]:
import numpy as np
ar = np.array([3,2,4,5,6])
ind = np.array(['a', 'b', 'c', 'd', 'e'])

obj2 = pd.Series(ar, index = ind)
print(obj2)

a    3
b    2
c    4
d    5
e    6
dtype: int32

In [17]:
sdata = {'Sindh': 3500, 'Punjab': 3000, 'KPK': 2500, 'Balochistan': 2000}
tax_by_state = pd.Series(sdata)
print(tax_by_state)

Sindh          3500
Punjab         3000
KPK            2500
Balochistan    2000
dtype: int64

In [18]:
sdata = {'Sindh': 3500, 'Punjab': 3000, 'KPK': 2500, 'Balochistan': 2000}
tax_by_state = pd.Series(sdata, index = ['Punjab', 'Sindh', 'KPK', 'Balochistan', 'GB'])
print(tax_by_state)

Punjab         3000.0
Sindh          3500.0
KPK            2500.0
Balochistan    2000.0
GB                NaN
dtype: float64

In [19]:
print(pd.isnull(tax_by_state))
print(tax_by_state.isnull())

Punjab         False
Sindh          False
KPK            False
Balochistan    False
GB              True
dtype: bool
Punjab         False
Sindh          False
KPK            False
Balochistan    False
GB              True
dtype: bool

**Soure of Data**
* Data from direct entry in Series method 
* Data from numpy array or list 
* Data from dictionary

# Data Frame

In [20]:
import pandas as pd

apples = pd.Series([3, 2, 0, 1])
oranges = pd.Series([3, 2, 0, 1])
print(apples, oranges)

data = {'apples': apples, 'oranges': oranges}
fruits_df = pd.DataFrame(data)
print(fruits_df)

0    3
1    2
2    0
3    1
dtype: int64 0    3
1    2
2    0
3    1
dtype: int64
   apples  oranges
0       3        3
1       2        2
2       0        0
3       1        1

In [21]:
state = ['Ohio', 'Ohio', 'Ohio', 'Neveda', 'Neveda', 'Neveda' ]
year = [2000, 2001, 2002, 2001, 2002, 2003]
pop = [1.5, 1.7, 3.4, 2.4, 2.9, 3.2]
data = { 'State': state,
       'Year': year,
       'Pop': pop}
df = pd.DataFrame(data)
print(df)

    State  Year  Pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.4
3  Neveda  2001  2.4
4  Neveda  2002  2.9
5  Neveda  2003  3.2

In [22]:
index = ['1st', '2nd', '3rd', '4th', '5th', '6th']
df = pd.DataFrame(data, index)
print(df)

      State  Year  Pop
1st    Ohio  2000  1.5
2nd    Ohio  2001  1.7
3rd    Ohio  2002  3.4
4th  Neveda  2001  2.4
5th  Neveda  2002  2.9
6th  Neveda  2003  3.2

In [23]:
df.head()

      State  Year  Pop
1st    Ohio  2000  1.5
2nd    Ohio  2001  1.7
3rd    Ohio  2002  3.4
4th  Neveda  2001  2.4
5th  Neveda  2002  2.9

In [24]:
df = pd.DataFrame(data, columns = ['Year', 'State', 'Pop'])  #change columns arrangement
df.head()

   Year   State  Pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.4
3  2001  Neveda  2.4
4  2002  Neveda  2.9

In [25]:
df.columns

Index(['Year', 'State', 'Pop'], dtype='object')

In [26]:
df.index

RangeIndex(start=0, stop=6, step=1)

## A column in DataFrame can be retrieved as a Series either by dict-like notation or  by attribute

In [27]:
df['State'] #this is dict-like notation access

0      Ohio
1      Ohio
2      Ohio
3    Neveda
4    Neveda
5    Neveda
Name: State, dtype: object

In [28]:
#this is another method to access which is attribute style
df.State

0      Ohio
1      Ohio
2      Ohio
3    Neveda
4    Neveda
5    Neveda
Name: State, dtype: object

In [29]:
state = ['Ohio', 'Ohio', 'Ohio', 'Neveda', 'Neveda', 'Neveda' ]
year = [2000, 2001, 2002, 2001, 2002, 2003]
pop = [1.5, 1.7, 3.4, 2.4, 2.9, 3.2]
data = { 'State': state,
       'Year': year,
       'Pop': pop}
df = pd.DataFrame(data)
df.head()

    State  Year  Pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.4
3  Neveda  2001  2.4
4  Neveda  2002  2.9

In [30]:
frame2 = pd.DataFrame(data, columns =['year', 'state', 'pop', 'debt'],
                     index = ['one', 'two', 'three', 'four', 'five', 'six'])
ln = len(frame2)
rng = np.arange(ln)
print(rng)
frame2['debt'] = rng
frame2.head()

[0 1 2 3 4 5]

      year state  pop  debt
one    NaN   NaN  NaN     0
two    NaN   NaN  NaN     1
three  NaN   NaN  NaN     2
four   NaN   NaN  NaN     3
five   NaN   NaN  NaN     4

## Point to remember, inserting new values, needs to be match in length of DataFrame ( mean number of elements)

## Function Application and Mapping

In [31]:
frame = pd.DataFrame(np.random.randn(4,3),
                    columns = list('bde'),
                    index = ['Uthao', 'Ohio', 'Texas', 'Oregon'])
#print(frame)
print(np.abs(frame))

#using simple method
print(frame['d'].min())
print(frame['d'].max())
print(frame['d'].min() - frame['d'].min())


#using lamda function 
f = lambda x: x.max() - x.min()
df = frame.apply(f)
print(df, type(df))


#using simple functions
def min_max(x):
    minimum = x.min()
    maximum = x.max()
    return pd.Series([maximum, minimum], index =[max, min])

df = frame.apply(min_max)
print(df, type(df))

               b         d         e
Uthao   1.676846  0.464122  0.794390
Ohio    1.130889  0.680709  0.649698
Texas   0.247402  0.195910  0.180344
Oregon  0.961897  0.072979  0.896362
-0.6807092711968465
0.4641223033340845
0.0
b    2.807735
d    1.144832
e    1.690751
dtype: float64 <class 'pandas.core.series.Series'>
                                b         d         e
<built-in function max>  1.676846  0.464122  0.794390
<built-in function min> -1.130889 -0.680709 -0.896362 <class 'pandas.core.frame.DataFrame'>

In [32]:
import numpy as np
import pandas as pd

data_df = pd.DataFrame(np.arange(16).reshape((4, 4)),
                      index=['Ohio', 'Colorado', 'Utah', 'New York'],
                      columns=['one', 'two', 'three', 'four'])

print(data_df, '\n')
data_df = data_df.drop('two', axis=1) #deleting columns
print(data_df)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [33]:
data_df = data_df.drop('Colorado', axis=0) #deleting rows
print(data_df)

          one  three  four
Ohio        0      2     3
Utah        8     10    11
New York   12     14    15

# Indexing,  Selection and Filtering

In [34]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0,3,6])
print(obj3)
#might create a new rows
#obj3 = obj3.reindex(range(9))
#print(obj3, '\n')
obj3 = obj3.reindex(range(9), method='ffill')
print(obj3)

0      blue
3    purple
6    yellow
dtype: object
0      blue
1      blue
2      blue
3    purple
4    purple
5    purple
6    yellow
7    yellow
8    yellow
dtype: object

# Data Loading, Storage and File Formatting

In [35]:
import pandas as pd

sample_df = pd.read_csv("examples/sample.csv")
print(sample_df)

  studentid         name   chimestry   physics   english   math
0       A01     arif ali          20        30        40     50
1       A02  kamran khan          30        40        50     60
2       A03   imran ali           40        50        60     70
3       A04  kashif khan          50        60        70     80

In [36]:
sample_df = pd.read_csv("examples/sample.csv", 
                       names = ['id', 'name', 'chem', 'phy', 'eng', 'mth']) # we can change the column names while loading
print(sample_df)

          id         name        chem       phy       eng    mth
0  studentid         name   chimestry   physics   english   math
1        A01     arif ali          20        30        40     50
2        A02  kamran khan          30        40        50     60
3        A03   imran ali           40        50        60     70
4        A04  kashif khan          50        60        70     80

In [37]:
#skip rows
sample_df = pd.read_csv("examples/sample.csv", skiprows = 1,
                       names = ['id', 'name', 'chem', 'phy', 'eng', 'mth']) # we can change the column names while loading
print(sample_df)

    id         name  chem  phy  eng  mth
0  A01     arif ali    20   30   40   50
1  A02  kamran khan    30   40   50   60
2  A03   imran ali     40   50   60   70
3  A04  kashif khan    50   60   70   80

In [38]:
s2_df = pd.read_csv("examples/sample2.csv")
print(s2_df)

parsed = pd.read_csv("examples/sample2.csv", index_col = ['key1', 'key2'])
parsed

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

## Handling missing values

In [39]:
result = pd.read_csv("examples/sample3.csv")
print(result)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [40]:
#changing data while loading 
#dictionary = {coulumn_name : [source_value, target_value]}
sentinals = {'message' : ['foo', 'NA']}
pd.read_csv("examples/sample3.csv", na_values=sentinals)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [41]:
result = pd.read_csv("examples/sample3.csv", na_values=["NULL"])

## Reading and Text files in pieces

In [42]:
pd.read_csv("datasets/train.csv")

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [43]:
#extracting selected rows from a large datasets
pd.read_csv("datasets/train.csv", nrows=200)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1526,0,2.1,0,1,1,23,0.2,117,7,...,718,751,2227,18,10,3,1,1,0,2
196,1989,0,2.5,1,0,1,41,0.8,94,3,...,1100,1497,1665,17,9,12,1,1,1,2
197,1308,0,1.9,0,0,1,61,0.7,106,3,...,59,1215,3355,15,2,4,1,0,1,3
198,609,0,0.5,0,3,0,26,0.3,93,4,...,938,1948,1866,11,10,14,1,1,1,1
199,1905,0,0.6,1,9,1,36,0.4,119,3,...,825,1542,1287,13,4,16,1,0,0,1

In [44]:
#to read a file in pieces, specify a chunksize as a number of rows:
chunks = pd.read_csv("datasets/train.csv", chunksize=200)
chunkList = []
for chunk in chunks:
    #print(chunk.head())
    chunkList.append(chunk)
    
df = chunkList[0]
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

## Reading from Multipsace Text File

In [45]:
data = list(open("examples/ex3.txt"))
print(data)
result = pd.read_table("examples/ex3.txt", sep='\s+')
result

['            A         B         C\n', 'aaa -0.264438 -1.026059 -0.619500\n', 'bbb  0.927272  0.302904 -0.032399\n', 'ccc -0.264273 -0.386314 -0.217601\n', 'ddd -0.871858 -0.348382  1.100491\n']

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [46]:
df = pd.read_csv("examples/ex4.csv")
df

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [47]:
df = pd.read_csv("examples/ex4.csv", skiprows=[0,2,3])
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## Writing Data to Text Format

In [48]:
data = pd.read_csv("examples/ex5.csv")
print(data)
data.to_csv("examples/out.csv")

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [49]:
import numpy as np

In [50]:
dates = pd.date_range('1/1/2000', periods=7)
print(dates)
ts = pd.Series(dates, index = np.arange(7))
ts.to_csv("examples/ts.csv")

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

## Working with Delimited Formats

In [51]:
import csv

In [52]:
f = open("examples/ex7.csv")
reader = csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

## JSON Data
short  for JavaScript Object Notation

In [53]:
data = pd.read_json("examples/example.json")
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

## Web Data Loading

In [54]:
tables = pd.read_html("examples/fdic_failed_bank_list.html")
print(type(tables))
print(len(tables))
failures_df = tables[0]
print(type(failures_df))
print(failures_df.shape)
print(failures_df.columns)
len(failures_df)
print(failures_df["City"].head())
print(failures_df["Bank Name"].head())
print(failures_df.head())
print(tables)

<class 'list'>
1
<class 'pandas.core.frame.DataFrame'>
(547, 7)
Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')
0           Mulberry
1           Woodbury
2    King of Prussia
3            Memphis
4          Milwaukee
Name: City, dtype: object
0                     Allied Bank
1    The Woodbury Banking Company
2          First CornerStone Bank
3              Trust Company Bank
4      North Milwaukee State Bank
Name: Bank Name, dtype: object
                      Bank Name             City  ST   CERT  \
0                   Allied Bank         Mulberry  AR     91
1  The Woodbury Banking Company         Woodbury  GA  11297
2        First CornerStone Bank  King of Prussia  PA  35312
3            Trust Company Bank          Memphis  TN   9956
4    North Milwaukee State Bank        Milwaukee  WI  20364

                 Acquiring Institution        Closing Date       Updated Date
0                         Today's Bank  September 23, 2016  November 17, 2016
1                          United Bank     August 19, 2016  November 17, 2016
2  First-Citizens Bank & Trust Company         May 6, 2016  September 6, 2016
3           The Bank of Fayette County      April 29, 2016  September 6, 2016
4  First-Citizens Bank & Trust Company      March 11, 2016      June 16, 2016
[                             Bank Name             City  ST   CERT  \
0                          Allied Bank         Mulberry  AR     91
1         The Woodbury Banking Company         Woodbury  GA  11297
2               First CornerStone Bank  King of Prussia  PA  35312
3                   Trust Company Bank          Memphis  TN   9956
4           North Milwaukee State Bank        Milwaukee  WI  20364
..                                 ...              ...  ..    ...
542                 Superior Bank, FSB         Hinsdale  IL  32646
543                Malta National Bank            Malta  OH   6629
544    First Alliance Bank & Trust Co.       Manchester  NH  34264
545  National State Bank of Metropolis       Metropolis  IL   3815
546                   Bank of Honolulu         Honolulu  HI  21029

                   Acquiring Institution        Closing Date  \
0                           Today's Bank  September 23, 2016
1                            United Bank     August 19, 2016
2    First-Citizens Bank & Trust Company         May 6, 2016
3             The Bank of Fayette County      April 29, 2016
4    First-Citizens Bank & Trust Company      March 11, 2016
..                                   ...                 ...
542                Superior Federal, FSB       July 27, 2001
543                    North Valley Bank         May 3, 2001
544  Southern New Hampshire Bank & Trust    February 2, 2001
545              Banterra Bank of Marion   December 14, 2000
546                   Bank of the Orient    October 13, 2000

          Updated Date
0    November 17, 2016
1    November 17, 2016
2    September 6, 2016
3    September 6, 2016
4        June 16, 2016
..                 ...
542    August 19, 2014
543  November 18, 2002
544  February 18, 2003
545     March 17, 2005
546     March 17, 2005

[547 rows x 7 columns]]

In [55]:
frame = pd.read_csv("examples/ex1.csv")
frame.to_pickle("examples/frame_pickle")
pd.read_pickle("examples/frame_pickle")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## HDF

In [56]:
frame = pd.DataFrame({'a': np.random.randn(100)})
#print(frame)
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
#print(store)
x = store.obj1
print(type(x))
print(x.head())
print('------------------------')
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >=10 and index <=15'])
store.close()
frame.to_hdf('mydata.h5', 'obj3', format='table')
#frame = pd.read_hdf('mydata.h5', 'obj3' , where=['index < 5'])

<class 'pandas.core.frame.DataFrame'>
          a
0 -1.780712
1  0.929520
2  0.815142
3 -0.051365
4 -0.036673
------------------------

 ## Reading MS Excel file

In [57]:
import pandas as pd
#reading
xlsx = pd.ExcelFile("examples/ex1.xlsx")
frame = pd.read_excel("examples/ex1.xlsx", "Sheet1")
#writing
writer = pd.ExcelWriter("examples/ex2.xlsx")
frame.to_excel(writer, 'Sheet1')
writer.save()
#alternative option for single sheet
frame.to_excel("examples/ex2.xlsx")

In [58]:
print(frame)

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

## Working with web APIs

In [59]:
import requests
import numpy as np

url = "https://api.github.com/repos/pandas-dev/pandas/issues"
resp = requests.get(url)
print(resp)
data = resp.json()

print(data)

<Response [200]>

In [60]:
data_dict = data[0]
print(data_dict['title'])

REF: Move transform into apply

In [61]:
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])
print(issues.head)

<bound method NDFrame.head of     number                                              title  \
0    39957                     REF: Move transform into apply
1    39956    DOC: Serialization recommendation is deprecated
2    39955     REF: Move the rest of DataFrame.agg into apply
3    39954        REF: Move the rest of Series.agg into apply
4    39953  PERF: avoid object conversion in fillna(method...
5    39952  PERF: Styler render improvement by limiting .j...
6    39951  BUG: `to_html()` contains deprecated and poorl...
7    39949                                       TYP: hashing
8    39948                    REF: implement array_algos.take
9    39947                        TYP: stubfile for _libs.lib
10   39946                              refactor styler tests
11   39945  Change in astype leads to no longer casting to...
12   39944  Fix regression for setitem not aligning rhs wi...
13   39943  BUG: unary operators on IntegerArray return sh...
14   39942       BUG: format multiple CSS selectors correctly
15   39941         DOC: Updated convert_dtype of Series.apply
16   39940  BUG: Groupby ops on empty objects loses index,...
17   39939                    REF: share _maybe_coerce_values
18   39938  ENH: Ability to use "normalize" function (df['...
19   39936  ENH: Create script to set up a development env...
20   39935  BUG: DataFrame.agg and apply with 'size' retur...
21   39934  BUG: DataFrame.agg and apply with 'size' retur...
22   39931                     BUG: Index alignment behaviour
23   39930     ENH: add a gradient map to background gradient
24   39929  ENH: Want a new feature in merge_asof function...
25   39928  BUG: Sampling over selected groupbys does not ...
26   39927  BUG: Cannot sample on DataFrameGroupBy with we...
27   39926  BUG: fillna(0) does not fill NaNs for Float64A...
28   39925                    Updated read_html to add option
29   39923  REF: De-duplicate ExtensionIndex._validate_fil...

                                               labels state
0   [{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...  open
1   [{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...  open
2   [{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...  open
3   [{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...  open
4   [{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...  open
5                                                  []  open
6   [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
7                                                  []  open
8                                                  []  open
9                                                  []  open
10                                                 []  open
11  [{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...  open
12  [{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...  open
13  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
14                                                 []  open
15                                                 []  open
16  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
17                                                 []  open
18  [{'id': 2365504893, 'node_id': 'MDU6TGFiZWwyMz...  open
19                                                 []  open
20  [{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...  open
21  [{'id': 1741841389, 'node_id': 'MDU6TGFiZWwxNz...  open
22  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
23                                                 []  open
24  [{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...  open
25  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
26  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
27  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
28                                                 []  open
29                                                 []  open  >

In [62]:
data_dict

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39957',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39957/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39957/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/39957/events',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/39957',
 'id': 812860983,
 'node_id': 'MDExOlB1bGxSZXF1ZXN0NTc3MTE1NDk1',
 'number': 39957,
 'title': 'REF: Move transform into apply',
 'user': {'login': 'rhshadrach',
  'id': 45562402,
  'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
  'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/rhshadrach',
  'html_url': 'https://github.com/rhshadrach',
  'followers_url': 'https://api.github.com/users/rhshadrach/followers',
  'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
  'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
  'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
  'repos_url': 'https://api.github.com/users/rhshadrach/repos',
  'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [{'id': 697792067,
   'node_id': 'MDU6TGFiZWw2OTc3OTIwNjc=',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Apply',
   'name': 'Apply',
   'color': 'fbca04',
   'default': False,
   'description': 'Apply, Aggregate, Transform'},
  {'id': 1049312478,
   'node_id': 'MDU6TGFiZWwxMDQ5MzEyNDc4',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/DataFrame',
   'name': 'DataFrame',
   'color': '370f77',
   'default': False,
   'description': 'DataFrame data structure'},
  {'id': 127681,
   'node_id': 'MDU6TGFiZWwxMjc2ODE=',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Refactor',
   'name': 'Refactor',
   'color': 'FCE94F',
   'default': False,
   'description': 'Internal refactoring of code'},
  {'id': 1357732944,
   'node_id': 'MDU6TGFiZWwxMzU3NzMyOTQ0',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Series',
   'name': 'Series',
   'color': '8dd5fc',
   'default': False,
   'description': 'Series data structure'}],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 0,
 'created_at': '2021-02-21T13:53:51Z',
 'updated_at': '2021-02-21T13:53:51Z',
 'closed_at': None,
 'author_association': 'MEMBER',
 'active_lock_reason': None,
 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/39957',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/39957',
  'diff_url': 'https://github.com/pandas-dev/pandas/pull/39957.diff',
  'patch_url': 'https://github.com/pandas-dev/pandas/pull/39957.patch'},
 'body': '- [x] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing.html#code-standards) for how to run them\r\n\r\nCleanups and consolidations to follow.',
 'performed_via_github_app': None}

# Data Cleaning and Preparation

## Handling Missing data

In [63]:
import pandas as pd
from numpy import nan as NA

data = pd.DataFrame([[1., 6.5, NA], [1., NA, NA],
                   [NA, NA, NA], [NA, 6.5, NA]],
                   columns = list('abc'))
print(data)

#drop all rows which contain nan values
#cleaned = data.dropna()

#passing how='all' will only drop rows that contain all are nan
cleaned = data.dropna( how='all')

print(cleaned)

#droping columns that all have null values
data.dropna(axis=1, how='all')

     a    b   c
0  1.0  6.5 NaN
1  1.0  NaN NaN
2  NaN  NaN NaN
3  NaN  6.5 NaN
     a    b   c
0  1.0  6.5 NaN
1  1.0  NaN NaN
3  NaN  6.5 NaN

     a    b
0  1.0  6.5
1  1.0  NaN
2  NaN  NaN
3  NaN  6.5

## Filling Missing Data

In [78]:
from numpy import nan as NA

df = pd.DataFrame(np.random.randn(7,3))
#print(df)

df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
display(df)

#calling fillna with a dict you can use a different fill value for 
# df.fillna(1.5)

#column number 1 will be filled with 0.5
# column number 2 will be filled with 0
# df.fillna({1: 0.5, 2: 0})


#column filling axis =1
#fill not values from left column(axis = 0 means from top row)
# df.fillna(method='ffill', axis=1)
df.fillna(method='ffill', limit=1, axis=1)

          0         1         2
0  0.485428       NaN       NaN
1 -1.009323       NaN       NaN
2  0.423981       NaN  1.262500
3  0.904556       NaN  0.710960
4 -1.329290  1.461966 -0.123490
5  0.511707  1.404409  1.327109
6  0.476825 -0.656619 -1.077120

          0         1         2
0  0.485428  0.485428       NaN
1 -1.009323 -1.009323       NaN
2  0.423981  0.423981  1.262500
3  0.904556  0.904556  0.710960
4 -1.329290  1.461966 -0.123490
5  0.511707  1.404409  1.327109
6  0.476825 -0.656619 -1.077120

In [90]:
data = pd.DataFrame({'k1':  ['one', 'two'] * 3 + ['two'],
                    'k2': [1, 1, 2, 3, 3, 4, 4]})

display(data)
# data.duplicated()

# data.drop_duplicates()

data['v1'] = ['one', 'two', 'one', 'four', 'one', 'six', 'two']
display(data)
# data = data.drop_duplicates(['k1', 'v1'])
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

    k1  k2    v1
0  one   1   one
1  two   1   two
2  one   2   one
3  two   3  four
4  one   3   one
5  two   4   six
6  two   4   two

    k1  k2    v1
0  one   1   one
1  two   1   two
2  one   2   one
3  two   3  four
4  one   3   one
5  two   4   six
6  two   4   two

In [97]:
df = pd.DataFrame(np.random.randn(7,3))

df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan
display(df)
# df = df.replace(np.nan, -999)
# print(df)
# df = df.replace(-999, -9)
print(df)

          0         1         2
0 -1.178027       NaN       NaN
1  1.205482       NaN       NaN
2  0.033721       NaN -0.322061
3  0.138430       NaN  0.323539
4  0.182791  1.687289 -1.771582
5  0.296159 -0.386228 -0.310676
6  0.373078 -0.471891 -0.109375

          0         1         2
0 -1.178027  0.000000  0.000000
1  1.205482  0.000000  0.000000
2  0.033721  0.000000 -0.322061
3  0.138430  0.000000  0.323539
4  0.182791  1.687289 -1.771582
5  0.296159 -0.386228 -0.310676
6  0.373078 -0.471891 -0.109375

## Renaming indexs

In [103]:
df = pd.DataFrame(np.arange(12).reshape((3,4)),
                   index=['Ohio', 'Colorado', 'New York'],
                   columns = ['one', 'two', 'three', 'four'])
display(df)
transform = lambda x:x[:4].upper()
data = df.index.map(transform)
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

## Detecting Filtering Outliers

In [115]:
data = pd.DataFrame(np.random.randn(1000,4))
# data.describe()
col = data[2]
print(col)
col[np.abs(col > 3)]

#to select all rows having a value exceeding 3 or -3
#you can use the any method on a boolean DataFrame:
outliers = data[(np.abs(data)>3).any(1)]
outliers

0     -0.928448
1      0.371668
2      1.196555
3      0.027330
4      0.042432
         ...
995   -2.649736
996    0.396031
997   -0.323664
998   -0.402999
999   -0.312261
Name: 2, Length: 1000, dtype: float64

            0         1         2         3
261  0.051351 -1.041804 -3.046555  0.093629
330 -0.777628 -3.198100 -2.993185  1.875821
407  0.468716 -3.101087  0.054641  0.104972
462  2.706248  3.127341  0.637455 -0.664167
464 -0.748984  0.973109 -4.006017  2.528329
494 -1.218203 -0.326257  3.467950  0.836038
503  2.129138 -0.554453  0.683723  3.795061
509 -2.480895 -3.310561 -0.257842 -1.209156
593 -0.351185 -3.081515 -0.291857 -0.319783
651  3.980786 -0.043255 -0.135909 -1.297607
729 -0.584993  0.690089 -3.452005 -0.862500
793  0.787091 -0.839229  0.226303  3.328800
807 -3.176040  0.799841 -1.133066 -0.921054
813  3.057061  0.363340 -0.004763 -1.153217
824 -0.939084 -2.405335 -1.605128  3.804393
864 -0.484583  0.116863  3.281913  0.268859
902  0.618331  3.438888 -0.580060 -0.449002

## Permutation and Random sampling

In [66]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
print(df.shape)
sampler = np.random.permutation(4)
print(sampler)
df = df[sampler]
# print(df)
df.take(sampler)

(5, 4)
[3 2 0 1]

    3   2   0   1
3  15  14  12  13
2  11  10   8   9
0   3   2   0   1
1   7   6   4   5

In [67]:
import re

text = "foo    bar\t baz  \tqux"
#normal split 
split = text.split()
re.

In [8]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index = ['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index = ['a', 'c', 'e', 'f', 'g'])
print(s1,'\n\n',s2)

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

 a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [9]:
s1 + s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [15]:
s1.add(s2, fill_value=0)

a    5.2
c    1.1
d    3.4
e    0.0
f    4.0
g    3.1
dtype: float64

In [12]:
df1 = pd.DataFrame(np.arange(9.).reshape((3,3,)), columns = list('bcd'),
                  index = ['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4,3)), columns = list('bde'),
                  index = ['Utah', 'Ohio', 'Texas', 'Oregon'])
print(df1,'\n\n', df2)

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

           b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [13]:
df1 + df2

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

In [14]:
df1.add(df2, fill_value=0)

            b    c     d     e
Colorado  6.0  7.0   8.0   NaN
Ohio      3.0  1.0   6.0   5.0
Oregon    9.0  NaN  10.0  11.0
Texas     9.0  4.0  12.0   8.0
Utah      0.0  NaN   1.0   2.0

In [18]:
arr = np.arange(12.).reshape(3,4)
arr

array([[ 0.,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11.]])

In [20]:
arr[0]

array([0., 1., 2., 3.])

In [22]:
arr - arr[0]

array([[0., 0., 0., 0.],
       [4., 4., 4., 4.],
       [8., 8., 8., 8.]])

In [27]:
frame = pd.DataFrame(np.arange(12.).reshape((4,3)), columns=list('bde'),
                    index = ['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [28]:
series = frame.iloc[0]
series

b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64

In [29]:
frame - series  # subtract  with all rows of frame

          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

In [32]:
series2 = pd.Series(range(3), index=['b', 'e', 'f'])
frame - series2

          b   d     e   f
Utah    0.0 NaN   1.0 NaN
Ohio    3.0 NaN   4.0 NaN
Texas   6.0 NaN   7.0 NaN
Oregon  9.0 NaN  10.0 NaN

In [34]:
series2

b    0
e    1
f    2
dtype: int64

In [36]:
f = lambda x: x.max() - x.min()

In [37]:
frame.apply(f)

b    9.0
d    9.0
e    9.0
dtype: float64

In [43]:
frame.apply(f, axis='columns') # axis=columns or axis =1

Utah      2.0
Ohio      2.0
Texas     2.0
Oregon    2.0
dtype: float64

In [44]:
obj = pd.Series(range(4), index = ['d', 'a', 'b', 'c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [45]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [48]:
df = pd.DataFrame(np.arange(8).reshape((2,4)), 
                 index=['three', 'one'],
                 columns =['d', 'a', 'b','c'])
df

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [49]:
df.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [57]:
df.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [59]:
obj1 = pd.Series([4, 7, -3, 2])
obj1.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [69]:
frame2 = pd.DataFrame({'a':[0,3,2,1], 'b':[4, 7, -3, 2]})
frame2

   a  b
0  0  4
1  3  7
2  2 -3
3  1  2

In [70]:
frame2.sort_values(by='b')

   a  b
2  2 -3
3  1  2
0  0  4
1  3  7

In [71]:
frame2.sort_values(by=['a', 'b'])

   a  b
0  0  4
3  1  2
2  2 -3
1  3  7

## Random Practice

In [30]:
import pandas as pd

In [32]:
s = pd.Series(['a','b','c','d','e','f'])
s

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [38]:
s.loc[[1,2,3]]

1    b
2    c
3    d
dtype: object

In [44]:
s.iloc?